{% extends 'base.html' %}

{% block content %}
<div class="body">
    <div class="firstbox">Picture Box</div>
    <h2>Hire a local chef for any occasion.</h2>
    <div class="buttons">
        <a href=""><button>SignUp</button></a>
        <a href=""></a><button>Login</button>
    </div>
    <div class="Secondbox">Picture Box</div>
    <h2>See local chefs in your area</h2>
    <h4>Local Chefs</h4>
    <h4>Testimonials</h4>
    <p>See what others have said about Chef for Hire.</p>
    <div>
        <div class="testimonial1">
            <img src="" alt="">
        <h5>List item</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="testimonial2">
            <img src="" alt="">
        <h5>List item</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="testimonial3">
            <img src="" alt="">
        <h5>List item</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
{% endblock %}