{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="indexhead">Chef's for Hire</h1>
{% for chef in object_list %}
<div id="chefindex" class="card">
  {% comment %}
  <a href="{% url 'chef_detail' chef.id %}">
    {% endcomment %}
    <div class="card-content">
      <span class="card-title orange-text">{{chef.name}}</span>

      <p>Phone: {{chef.phone}}</p>
      <p>Email: {{chef.email}}</p>
      <p>Bio: {{chef.bio}}</p>
      <p>Location: {{chef.location}}</p>
      <p>Hourly: ${{chef.hourly}}</p>
      <br />
      <a
        id=""
        class="view-profile btn orange"
        href="{% url 'chef_detail' chef.id %}"
        >View Profile</a
      >
    </div>
    {% comment %}
  </a>
  {% endcomment %}
</div>
{% endfor %} {% endblock %}
